header{
    display: flex;
    justify-content: space-between;
    margin: 15px 2%;
    .figure{
        margin: 0;
        gap: 5px;
        font-size: 29px;
        display: flex;
        font-style: italic;
        color: white;
        align-items: center;

        img{
            object-fit: contain;
            max-width: 40px;
            width: 40px;
        }
    }
    nav{
        display: flex;
        ul{
            display: flex;
            padding: 0;
            margin: 0;
            gap: 30px;
            align-items: center;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1.2rem;
                }
            }
        }
    }
}