

.top{
    position: relative;
    width: 100%;
    padding: 0px 4%;
    height: 55px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: white;
    align-items: center;
    .ew{
        height: 20px;
    }
    span{
        position: absolute;
        right: 10px;
        top: 20px;
        cursor: pointer;
    }
    background-color: blueviolet;
    img{
        width: 40px;
        height: 40px;
        object-fit: contain;
    }
    z-index: 111;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 15px 3%;
    position: fixed;
    width: 100%;
    z-index: 11;
    background-color: black;
    margin: 0 auto;
    .figure{
        margin: 0;
        gap: 5px;
        font-size: 29px;
        display: flex;
        // font-style: italic;
        color: white;
        align-items: center;

        img{
            object-fit: contain;
            max-width: 40px;
            width: 40px;
        }
    }
    nav{
        display: flex;
        ul{
            display: flex;
            padding: 0;
            margin: 0;
            gap: 30px;
            align-items: center;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: #fff;
                    font-weight: 500;
                    font-size: 1.2rem;
                    button{
                        border: 2px solid blueviolet;
                        padding: 10px 13px ;
                        // background: transparent;
                        color: white;
                        border-radius: 40px;
                        font-size: 18px;
                  
                    }
                }
            }
        }
    }
}