
  
  .banner-buttons{
    display: flex;
    width: 100%;
    gap: 20px;
    padding: 10px 0px 0px 50px;
    justify-content: flex-start;
    button{
      border: 2px solid blueviolet;
      padding: 10px 13px ;
      // background: transparent;
      color: white;
      border-radius: 40px;
      font-size: 18px;
      height:50px;
  }
  }
  .banner-content{
    gap:20px;
    display:flex;
  }
  .logoaudit{
    display: flex;
    align-items: center;
    padding:0px 0px 0px 90px;
    width: 100%;
    gap: 10px;
    font-size: 14px;
    color: white;
    img{
      width: 165px;
      height: 40px;
      object-fit: contain;
    }
  }